.add-list-form{
    background:#1f9751;
    padding:20px;
    color:#ddd;
    font-size:1.2em;
    border-radius:0.5em;
    box-shadow:3px 3px 5px rgba(1, 99, 18, 0.3);
    margin:2em auto;
   padding:2em 0;
    border:1px solid #fff;
    
}

.add-list-form .form-check{
  display:block;
  text-align:center;
  margin:0.5em;
  
}

.add-list-form .form-check label{
  margin-left:0.5em;
}
.add-list-form button{

    background-color:#1f9751;
    border:1px solid #fff;
    color:#fff;
    padding:0.2em 1.5em;
    cursor:pointer;
    border-radius:0.3em;
    margin:1em auto;

}
.add-list-form button:hover{
  background-color:#fff;
  color:#1f9751;
  cursor:pointer;
}
