.shopping-list {
   width:100%; 
}
.table{
  border-spacing: 1em 0;
}
tbody.shopping-list tr{
  text-align:center;
  border:1px solid #f2f2f2;
  box-shadow:2px 3px 3px rgba(50,50,50,0.1);
   padding: 10px;
  border-left:5px solid #1f9751;
  margin:2em auto;
  overflow:hidden;
  position:relative
}
tbody.shopping-list tr .item{
  text-align:left;
}
.shopping-list button.cross{
    position:absolute;
    top:0;
    right:0;
    color:#777;
    background:#ddd;
    border:none;
    padding:12px 8px;
    text-align:center;
    line-height:0;
    font-size:0.9em;
    cursor:pointer;

}
.shopping-list .edit,
.shareable,.ready,.delete
{
  margin-left:0.5em;
  cursor:pointer;
}
.shopping-list .edit:hover,
.shopping-list .shareable:hover,
.shopping-list .ready:hover,
.shopping-list .delete:hover
{
  color:#1f9751;
}





